body { margin:0; padding:0;}
#map { position:absolute; top:0; bottom:0; width:100%; background-color: #202222; }
#range {
  width: 100%;
  position: absolute;
}
.leaflet-top .leaflet-control-zoom {
  margin-top: 20px;
}